/* 
COLORES */
:root{
    --clr-light: #cfcfce;
    --clr-dark-100: #626262;
    --clr-dark-200: #343434;
    --clr-dark-700: #080808;
    --accent-clr: #0070B8;
}

/* 
AJUSTES GOBALES */
body{
    background-color: var(--clr-dark-700);
    color: var(--clr-light);
}
h1,
h2,
h3,
p{
    margin-bottom: 1em;
}

section{
    padding: 3rem 0;
}

.container{
    margin: 0 auto;
    width: min(90%, 120rem);
    /* background-color: red; */

}

/* 
ENCABEZADO Y MENU*/

.encabezado{
    padding: 1.5rem 0;
}

.encabezado__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.4rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: var(--accent-clr);
    color: var(--clr-dark-700);
}

.encabezado__titulo{
    color: var(--clr-light);
}

.mostrar-menu-label span,
.mostrar-menu-label span::before,
.mostrar-menu-label span::after{
    display: block;
    background-color: var(--clr-light);
    height: 0.2rem;
    width: 3rem;
    border-radius: 0.2rem;
    position: relative;
}

.mostrar-menu-label span::before,
.mostrar-menu-label span::after{
    content: "";
    position: absolute;
}

.mostrar-menu-label span::before{
    bottom: 1rem;
}
.mostrar-menu-label span::after{
    top: 1rem;
}

/* Dispositivos pequeños o telefonos 600px o menos */
@media only screen and (max-width: 600px) {
    .encabezado{
        background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .encabezado__titulo{
        display: none;

    }
    .menu{
        /* display: none; */
        transform: scale(1, 0);
        transform-origin: top;
        transition: all 200ms ease;
    }
    .mostrar-menu{
        display: none;
    }

    /* El "~" busca cualquier hermano de mostrar-menu, 
    no tiene que ser inmediatamente después. */
    .mostrar-menu:checked ~ .menu{
        /* display: block; */
        transform: scale(1, 1);
    }
}

/* 

*/