/* 
COLORS */
:root{
    --clr-light: #cfcfce;
    --clr-dark-100: #626262;
    --clr-dark-200: #343434;
    --clr-dark-700: #080808;
    --accent-clr: #0070B8;
}

/* 
GLOBAL ADJUSTMENTS */
body{
    background-color: var(--clr-dark-700);
    color: var(--clr-light);
}

h1,
h2,
h3,
p{
    margin-bottom: 1em;
}

section{
    padding: 3rem 0;
}

.container{
    margin: 0 auto;
    width: min(90%, 120rem);

}

/* 
UTILITIES */

.btn{
    padding: 0.5em 1.5em;
    border: 0.1rem solid var(--clr-dark-100);
    border-radius: 1rem;
    font-weight: bold;
}

.btn:hover{
    border: 0.1rem solid var(--accent-clr);
    background-color: var(--accent-clr);
    color: var(--clr-dark-700);
    cursor: pointer;
}

/* 
HEADER STYLES*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1.5rem;
}

.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.4rem;
    height: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: var(--accent-clr);
    color: var(--clr-dark-700);
}

.header__title{
    margin: 0;
    color: var(--clr-light);
}

/* 
NAVIGATION STYLES */

nav{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    margin: 3rem;
}

.nav__link:hover{
    border-bottom: 0.3rem solid var(--accent-clr);
}

.active--link{
    border-bottom: 0.3rem solid var(--accent-clr); 
}

/* 
HOME HERO IMAGE */
.hero-home{
    width: 100%;
    height: 55rem;
    background-image: url("../assets/img/hero1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 3rem;
    filter: grayscale(60%);
}

/* 
SHOWROOM SECTION */

.showroom{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

/* 
PRODUCT SECTION */
.product__title{
    margin-left: 1em;
}

.product__grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product__item{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__img{
    height: 40rem;
    object-fit: cover;
    filter: grayscale(60%);
}

.product__link-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__link-box:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.product__link{
    padding: 0.5em 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
}

.product__link:hover{
    border: 0.1rem solid var(--accent-clr);
    background-color: rgba(0, 0, 0, 0);
}

/* 
CALL TO ACTION */
.cta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cta__cards{
    background-color: var(--clr-dark-200);
    padding: 4rem;
}

.cta__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%);
}

.cta-form{
    display: flex;
}

#cta-form__email{
    width: 35rem;
    padding: 1rem;
    border: 0.1rem solid var(--clr-dark-100);
    border-radius: 1rem 0 0 1rem;
}

.cta-form--btn{
    border-radius: 0 1rem 1rem 0;
}

.cta-form__terms{
    display: flex;
    gap: .5rem;
    margin: 2rem;
    font-size: 1.3rem;
}

.cta-form__footer{
    font-size: 1.3rem;
}

/* 
FOOTER SECTION */
.footer-sec{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-sec__adrs{
    font-size: 1.3rem;
    color: var(--clr-dark-100);
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-media__icon{
    width: 2rem;
    fill: var(--clr-dark-200);
}

.social-media__icon:hover{
    fill: var(--accent-clr);
}


/* 
seguir viendo video para menu movil------
https://www.youtube.com/watch?v=8QKOaTYvYUA
*/