@charset "UTF-8";

/* Se eliminan: margenes, padding y bordes de todo 
para ser aplicados manualmente
------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* Para que estos elementos ocupen el ancho de su
contenedor, esten centrados y cubran el contenedor
------------------------------------------------- */
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    -o-object-fit: cover;
        object-fit: cover;
    -o-object-position: center center;
        object-position: center center;
}

/* Para eliminar el comportamiento por defecto
de los enlaces
------------------------------------------------- */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* Los enlaces que se encuentran en parrafos
funcionan como inline, para evitar el salto de linea
------------------------------------------------- */
p a {
    display: inline;
}

/* Eliminar estilos de listas por defecto
------------------------------------------------- */
li {
    list-style-type: none;
}

/* Con el font-size a 62.5% hacemos que sea mas 
facil hacer la conversión de PX a REM. 
1REM = 10px
------------------------------------------------- */
html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

/* Para modificar el tamaño por defecto de las fuentes
y que el tamaño minimo del body sea el 100% del veiwport.
------------------------------------------------- */
body {
    min-height: 100vh;
    font-size: 2rem;
    line-height: 1.5;
  }

/* Se eliminan los estilos por defecto de estas
etiquetas para ser asignados manualmente.
------------------------------------------------- */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

/* Se eliminan los estilos por defecto de estas
etiquetas para ser asignados manualmente.
------------------------------------------------- */
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: inherit;
    display: block;
}
 
